@import '../../index.scss';

.dropdown-container {
	height: 100vh;
	width: 100vw;
	@include flexCenter(center, center, column);
	select {
		padding: 10px;
		border: 1px solid #a1a4af;
		color: #3e4fb0;
		border-radius: 5px;
		height: 40px;
		width: 400px;
		margin: 5px 0;
		font-size: 12px;
		background-color: white;
	}
}
